/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
----------------------------------------------------------------------------------------
*/

process {


    withName:FILTER_READS {
        ext.args = '-ml 50 -mq 7 -rd'
        publishDir = [
            path: { "${params.outdir}/filtered_reads/" },
            mode: params.publish_dir_mode,
        ]

    }


}
