/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
----------------------------------------------------------------------------------------
*/

process {

    withName:TAG_ALIGNMENT {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName:MERGE_FLOWCELL_BAM {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName:SUBSET_ALIGNMENT {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName:FILTER_HAPLOTYPE1_READS {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName:FILTER_HAPLOTYPE2_READS {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName:PILEUP_MODS_HAPLOTYPE1 {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName:PILEUP_MODS_HAPLOTYPE2 {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName:ANNOTATE_PILEUP_HAPLOTYPE1 {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
        ]
    }

    withName:ANNOTATE_PILEUP_HAPLOTYPE2 {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
        ]
    }
}
