/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
----------------------------------------------------------------------------------------
*/

process {

    withName:MAP_READS {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/mapped" },
            mode: params.publish_dir_mode,
        ]
    }
    withName:FILTER_ALIGNMENT {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/filtered_alignment" },
            mode: params.publish_dir_mode,
        ]
    }


}
