/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
----------------------------------------------------------------------------------------
*/

process {


    withName:BASECALL_READS {
        ext.args = 'models/dna_r9.4.1_e8_sup@v3.3' // Add directory where model is stored
        publishDir = [
            path: { "${params.outdir}/raw_reads" },
            mode: params.publish_dir_mode
        ]

    }

    withName:TRIM_READS {
        ext.args = '--threads 20'
        publishDir = [
            path: { "${params.outdir}/trimmed_reads" },
            mode: params.publish_dir_mode
        ]
    }
    withName:SUMMARYZE_READS {
        publishDir = [
            path: { "${params.outdir}/trimmed_reads" },
            mode: params.publish_dir_mode
        ]
    }


}
